{% extends "base.html" %} {% block content %}
<div id="PageContainer">
	<div id="UserForm" class="UserForm" formtype="Register">
		<h2 class="Heading Sub-Text"> Register </h2>
		<div class="form-group align-items-center">
			<label class="Sub-Text" for="Username">Username</label>
			<input type="text" class="UsernameField form-control" id="UsernameField">
		</div>
		<div class="form-group align-items-center">
			<label class="Sub-Text" for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="PasswordField">
		</div>
		<button class="UserRegister btn btn-info btn-block Sub-Text Sub-Prime Sub-Border"type="button">Register</button>
		<p class="Sub-Text">Already have an account? <a href="login">Login</a></p>
	</div>
</div>

{% endblock %}