.GroupEditField{
	height:4vh;
	margin-left:1vw;
}

.GroupSortHandle{
	float:right;
}

.ItemsDiv{
	margin-left:10vw; 
	margin-right:10vw; 
	margin-top:5vh; 
}

.GroupAddIcon{
	fill:none;
}

.GroupAddIcon:hover{
	fill:green;
}


.GroupEditIcon{
    fill:none;
}

.GroupEditIcon:hover{
    fill:#33ccff;
}

.TaskDeleteIcon{
	fill:none;
}

.GroupDeleteIcon:hover{
	fill:#ff0000;
}



.TaskAddIcon{
	fill:none;
}

.TaskAddIcon:hover{
	fill:green;
}


.TaskEditIcon{
    fill:black;
}

.TaskEditIcon:hover{
    fill:#33ccff;
}

.TaskDeleteIcon{
	fill:none;
}

.TaskDeleteIcon:hover{
	fill:#ff0000;
}

.AddField{
	margin-top:16px; 
	margin-bottom:25px; 
	margin-left:21px;
}

.TaskAdd{
	margin-right:19px; 
	margin-top:16px; 
	margin-bottom:25px;
}

.GroupAdd{
	margin-right:19px; 
	margin-top:16px; 
	margin-bottom:25px;
}

.FloatRight{
	float: right; 
	cursor:pointer;
}

.GroupAddSection{
	border-style: solid;
	border-color: green;
}

.ItemAddSection{
	border-style: solid;
	border-color: green;
}