
.GroupAddSection{

	border-bottom-style: solid;
	border-bottom-width: 0.3vh;
	padding-top: 1vh;
	margin-top: 1vh;
	padding-bottom: 1vh;
	margin-bottom: 2vh;
	
}

.GroupButton{
	float:left;
	color: white;
}

.GroupButton:hover{
	color: grey;
}

.ItemsDiv{
	margin-left:10vw; 
	margin-right:10vw; 
	margin-top:5vh; 
	margin-bottom:5vh; 
}

.TaskCheckLabel{
	padding: 0px;
	color:white;
}

.handle{
	display:bock;
	float:left;
	
}

.TaskList{
	background-color:#343A40;
}

.handleIcon{
	display:block;
}

.TaskCheckDiv{
	float:left;
	display:block;
}

.group-list-item{
	
	margin-bottom: 3vh;
	
}

.AddGroupLabel{
	
	font-size: 3.4vh;
	margin-right: 1.2vw;
	
}

.TaskEditField{
	
	float:right;
	
}

.AddTaskLabel{
	
	font-size: 3vh;
	margin-right: 0.8vw;
	
}

.GroupHeader{
	height:8vh;
}	

.HoverClick{
	cursor:pointer;
}

.GroupSortHandle{
	float:left;
	display:block;
	padding-top:1vh;
	padding-bottom:1vh;
}

.GroupHandleIcon{
	display: block;
}

.GroupActionButton{
	display:block;
	padding-top: 1vh;
    padding-bottom: 1vh;
}

.GroupActionIcon{
	display:block;
}


.list-group-item{
}


.GroupLabelDiv{
	float:left;
	display:block;
	width: 75%;
}

.GroupEditFieldDiv{
	height: 6vh;
	width: 11vw;
	float: right;
	display:block;
	padding-top: 1vh;
    padding-bottom: 1vh;
	margin-right: 3vw;
}

.GroupEditField{
	height: 4vh;
	float: left;
	display:block;
	font-size: 16px;
}

.ItemAddSection{
	border-bottom-style: solid;
	border-bottom-width: 0.3vh;
	padding-top: 1vh;
	margin-bottom: 2vh;
	padding-bottom: 1vh;
}


.GroupEditField::-webkit-input-placeholder {
  font-size: 16px;
}
.GroupEditField::-moz-placeholder {
  font-size: 16px;
}
.GroupEditField:-ms-input-placeholder {
  font-size: 16px;
}
.GroupEditField::placeholder {
  font-size: 16px;
}


.FloatRight{
	float: right; 
	cursor:pointer;
}