{% extends 'base.html' %} {%block content%}

<h1 style="text-align:center">Copyright</h1>

<h2 style="text-align:center"> All icons in the web task viewer are made by <a href="https://icons8.com/">Icons8</a>, here are links to all of them </h2>

<ul style="text-align:center; list-style-type:none;">
	<li><a href="https://icons8.com/icon/1NVn5K29mOSz/delete">Delete icon by Icons8</a></li>
	<li><a href="https://icons8.com/icon/3195/trash-can">Trash Can icon by Icons8</a></li>
	<li><a href="https://icons8.com/icon/86376/edit">Edit icon by Icons8</a></li>
	<li><a href="https://icons8.com/icon/82817/checkmark">Checkmark icon by Icons8</a></li>
	<li><a href="https://icons8.com/icon/QW1BZ0YJDjnZ/move">Move icon by Icons8</a></li>
	<li><a href="https://icons8.com/icon/84848/add">Add icon by Icons8</a></li>
</ul>

{% endblock %}