{% extends 'base.html' %} {%block content%}

<h1 class="Sub-Text" style="text-align:center">Copyright</h1>

<h2 class="Sub-Text" style="text-align:center"> All icons in the web task viewer are made by <a href="https://icons8.com/">Icons8</a>, here are links to all of them: </h2>

<ul style="text-align:center; list-style-type:none;">
	<div>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/delete.png" /><a class="Sub-Text" href="https://icons8.com/icon/1NVn5K29mOSz/delete">Delete icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/delete-active.png" /></li>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/can.png" /><a class="Sub-Text" href="https://icons8.com/icon/3195/trash-can">Trash Can icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/can-active.png" /></li>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/edit.png" /><a class="Sub-Text" href="https://icons8.com/icon/86376/edit">Edit icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/edit-active.png" /></li>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/check.png" /><a class="Sub-Text" href="https://icons8.com/icon/82817/checkmark">Checkmark icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/check-active.png" /></li>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/move.png" /><a class="Sub-Text" href="https://icons8.com/icon/84023/move-grabber">Move Grabber icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/move-active.png" /></li>
	<li><img class="CopyrightImage" height="24px" width="24px" src="/static/Tasks/img/add.png" /><a class="Sub-Text" href="https://icons8.com/icon/84848/add">Add icon by Icons8</a><img class="ActiveCopyrightImage" height="24px" width="24px" src="/static/Tasks/img/add-active.png" /></li>
</ul>

{% endblock %}