<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% load static %}
	<script src="{% static '/Tasks/js/bootstrap/bootstrap.min.js' %}"> </script>
	{% for file in needed %}
	<script src="{% static file %}"> </script>
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{% static 'Tasks/css/Tasks.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Users/css/Users.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DoThing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="/tasks">Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/copyright">Copyright</a>
			</li>
		</ul>
  </div>
</nav>
{% block content %}
{% endblock %}

</body>
</html>
