{% extends "base.html" %} {% block content %}
	<div class="modal" id="ConfirmDeleteModal" tabindex="-1">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>This group is not empty, all tasks in it will be deleted, are you sure?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="ConfirmDelete" group="NONE" groupraw="NONE">Yes</button>
				</div>
			</div>
		</div>
	</div>
	<div id="PageContainer">
		<div class="ItemsDiv">
		{% if grouplength == 0 %}
			<h2 style="text-align:center;">Your Tasks</h2>
			<div class="GroupAddSection">
				<input placeholder="New Group Name" type="text" class="AddField" id="GroupAddField" name="GroupAddField">
				<a class="GroupAdd FloatRight" id="GroupAdd"><img height="24px" width="24px" class="TaskAddIcon ColorChange" src="/static/Tasks/img/add.png" im="add"></a>
			</div>
		{%else%}
			
			<h2 style="text-align:center;">Your tasks</h2>
			<div class="accordian list-group GroupList" id="grouplist">
				{% for group in groups %}
					<div id="{{group.safename}}-Card" class="card list-item group-list-item" draggable=false groupraw="{{group.name}}" group="{{group.safename}}">
						<div class="card-header" id="{{group.safename}}-header">
						  <h2 class="mb-0">
							<span class="group-handle GroupSortHandle"><img height="22px" width="22px" src="/static/Tasks/img/move.png"/></span>
							<button class="GroupButton btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{group.safename}}-collapse" aria-expanded="false" suffix="collapse" aria-controls="{{group.safename}}-collapse" groupraw="{{group.name}}" group="{{group.safename}}">
								{{group.name}}
							</button>
							<input type="text" placeholder="New Group Name" class="NameField" id="GROUP-{{group.safename}}-NameField" name="GROUP-{{group.safename}}-NameField" name="GROUP-{{group.safename}}-NameField">
							<a class="GroupEdit FloatRight" id="{{group.safename}}-GroupEdit" groupraw="{{group.name}}" group="{{group.safename}}" ><img height="24px" width="24px" class="GroupEditIcon ColorChange" id="{{group.safename}}-EditIcon" src="/static/Tasks/img/edit.png" im="edit"/></a>
							<a class="GroupDelete FloatRight" id="{{group.safename}}-GroupDelete" groupraw="{{group.name}}" group="{{group.safename}}"><img height="24px" width="24px" class="GroupDeleteIcon ColorChange" id="{{group.safename}}-DeleteIcon" src="/static/Tasks/img/can.png" im="can"></a>
						  </h2>
						</div>

						<div id="{{group.safename}}-collapse" class="collapse" aria-labelledby="{{group.safename}}-header">
						  <div class="card-body">
								<div class="list-group list-group-flush TaskList" id="{{group.safename}}-List" groupraw="{{group.name}}" group="{{group.safename}}">
									{% for task in group.items %}
									<div class="list-group-item" taskraw="{{task.name}}"  task="{{task.safename}}" draggable=false>
									<span class="handle"><img height="22px" width="22px" src="/static/Tasks/img/move.png"/></span>
									<input class="TaskCheck" taskraw="{{task.name}}"  task="{{task.safename}}" type="checkbox", id="{{task.safename}}-Check", groupraw="{{group.name}}" group="{{group.safename}}" name="{{task.safename}}-Check", value="Done", {% if task.done %} checked {%endif%}>
									<label for="{{task.safename}}-Check"> {{task.name}} </label>
									<input type="text" placeholder="New Item Name" class="NameField" id="{{task.safename}}-NameField" name="{{task.safename}}-NameField">
									<a  class="TaskEdit FloatRight" id="{{task.safename}}-Edit" groupraw="{{group.name}}" group="{{group.safename}}" taskraw="{{task.name}}"  task="{{task.safename}}"><img height="24px" width="24px" class="TaskEditIcon ColorChange" id="{{task.safename}}-EditIcon" src="/static/Tasks/img/edit.png" im="edit"/></a>
									<a  class="TaskDelete FloatRight item" id="{{task.safename}}-Delete" groupraw="{{group.name}}" group="{{group.safename}}" taskraw="{{task.name}}"  task="{{task.safename}}"><img height="24px" width="24px" class="TaskDeleteIcon ColorChange" id="{{task.safename}}-DeleteIcon" src="/static/Tasks/img/can.png" im="can"></a>
									</div>
									{% endfor %}
								</div>
								<div draggable=false class="ItemAddSection">
									<input type="text" placeholder="New Item Name" groupraw="{{group.name}}" group="{{group.safename}}" class="AddField" id="{{group.safename}}-AddField" name="AddField">
									<a class="TaskAdd FloatRight" groupraw="{{group.name}}" group="{{group.safename}}" id="{{group.safename}}-TaskAdd"><img height="24px" width="24px" class="TaskAddIcon ColorChange" src="/static/Tasks/img/add.png" im="add"></a>
								</div>
						  </div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="GroupAddSection">
				<input placeholder="New Group Name" type="text" class="AddField" id="GroupAddField" name="GroupAddField">
				<a class="GroupAdd FloatRight" id="GroupAdd"><img height="24px" width="24px" class="TaskAddIcon ColorChange" src="/static/Tasks/img/add.png" im="add"></a>
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}
	
