{% extends "base.html" %} {% block content %}
	<div>
	{% if tasklength == 0 %}
		<h2>You don't have any tasks</h2>
	{%else%}
		<ul class="list-group list-group-flush">
			{%for task in tasks %}
			<li class="list-group-item">
			<input type="checkbox", id="{{task.name}}/taskcheck", name="{{task.name}}/taskcheck", value="Done", {% if task.done %} checked {%endif%}>
			<label for="{{task.name}}/taskcheck"> {{task.name}} </label>
			</li>
			{% endfor %}
		</ul>	
	{% endif %}
	</div>
{% endblock %}
	
