{% extends "base.html" %} {% block content %}
	<div>
	{% if tasklength == 0 %}
		<h2 style="text-align:center;">You don't have any tasks</h2>
		<ul class="list-group list-group-flush">
			<li>
			<input type="text" class="AddField" id="AddField" name="AddField">
			<a class="TaskAdd FloatRight" id="TaskAdd"><img class="TaskAddIcon" src="https://img.icons8.com/material/24/000000/plus--v1.png"></a>
			</li>
		</ul>	
	{%else%}
		
		<h2 style="text-align:center;">Your tasks</h2>
		<ul class="list-group list-group-flush">
			{%for task in tasks %}
			<li class="list-group-item">
			<input class="TaskCheck" task="{{task.name}}" type="checkbox", id="{{task.name}}-Check", name="{{task.name}}-Check", value="Done", {% if task.done %} checked {%endif%}>
			<label for="{{task.name}}-Check"> {{task.name}} </label>
			<input type="text" class="NameField" id="{{task.name}}-NameField" name="{{task.name}}-NameField">
			<a class="TaskEdit FloatRight" id="{{task.name}}-Edit" task="{{task.name}}"><img class="TaskEditIcon" id="{{task.name}}-EditIcon" src="https://img.icons8.com/material-sharp/24/000000/edit.png"/></a>
			<a class="TaskDelete FloatRight" id="{{task.name}}-Delete" task="{{task.name}}"><img class="TaskDeleteIcon" id="{{task.name}}-DeleteIcon" src="https://img.icons8.com/material-rounded/24/000000/empty-trash.png"></a>
			</li>
			{% endfor %}
			<li>
			<input type="text" class="AddField" id="AddField" name="AddField">
			<a class="TaskAdd FloatRight" id="TaskAdd"><img class="TaskAddIcon" src="https://img.icons8.com/material/24/000000/plus--v1.png"></a>
			</li>
		</ul>	
	{% endif %}
	</div>
{% endblock %}
	
